.welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color:#f4b800;    
    display: flex;
    justify-content: space-between;
    padding: 5vw;
    box-sizing: border-box;
    &__side-content {
        animation: fadeIn 1s;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &__main-title {
            &__title {
                font-size: 5vw;
                font-family: 'Anton', cursive;
                color:#d50000;
                text-shadow: 4px 4px black;
            }
            &__subtitle {
                font-family: 'Anton', cursive;
                font-weight: bold;
                font-size: 2vw;
            }
        }
        
        &__group {
            display: flex;
            column-gap: 10px;
            align-items: center;
            font-family: 'Anton', cursive;
            font-weight: bold;
            &__count {
                background-color: black;
                color: #f4b800;
                border-radius: 0.25em;
                padding: 0 10px 0 10px;
                font-size: 4vw;
                // text-shadow: 4px 4px white;
                text-shadow: 2px 2px #d50000;

                box-shadow: 4px 4px #d50000;
            }
            &__name {
                text-shadow: 4px 4px white;
                font-size: 3.5vw;
            }
        }

        &:nth-child(2) {
            .chat-box {
                p {
                    font-family: 'Anton', cursive;
                }
                background-color: #d50000;
                height: 100%;
                box-shadow: 4px 4px black;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 25px;
                &__list {
                    display: grid;
                    grid-template-columns: auto;
                    &__message {
                        animation: fadeIn 0.25s;
                        box-shadow: 4px 4px black;
                        background-color:#f4b800;
                        justify-self: start;
                        padding: 5px;
                        small {
                            font-family: 'Lobster',cursive;
                        }
                        &.diff {
                            justify-self: end !important;
                        }
                    }
                }

                &__input {
                    background-color: white;
                    width: 100%;
                    height: 50px;
                    box-shadow: 4px 4px black;
                    padding: 5px 5px 5px 10px;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    justify-content: space-between;
                    &__join {
                        font-family: 'Anton', cursive;
                        background-color: #f4b800;
                        height: 100%;
                        display: flex;
                        flex-basis: 100px;
                        box-shadow: 2px 2px black;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }

            }
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0; } 100% { opacity: 1; }
}