<div class="community">
    <div class="community__nav">
        <ng-container>
            <div class="community__nav__tab" routerLink="./groups" routerLinkActive="active">
                Các-hội
            </div>
            <div class="community__nav__tab" routerLink="./create" routerLinkActive="active">
                Tạo-mới
            </div>
            <div class="community__nav__tab" routerLink="./join" routerLinkActive="active">
                Tham-gia
            </div>
        </ng-container>
    </div>
    <div class="community__content">
        <router-outlet></router-outlet>
    </div>
</div>