<div class="community">
    <div class="community__nav">
        <ng-container *ngIf="isAuthenticated">
            <div class="community__nav__tab" routerLink="./create">
                Tạo-mới
            </div>
            <div class="community__nav__tab" routerLink="./join">
                Tham-gia
            </div>
        </ng-container>
        <ng-container *ngIf="!isAuthenticated">
            <div class="community__nav__tab">
                Bạn chưa đăng-nhập
            </div>
        </ng-container>
    </div>
    <app-auth [isAuthenticated]="isAuthenticated" (setAuthentication)="setAuthentication($event)"></app-auth>
    <div class="community__content">
        <router-outlet></router-outlet>
    </div>
</div>