.auth {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
    &__button {
        font-family: 'Anton',cursive;
        font-size: 16pt;
        text-shadow: 2px 2px white;
        transition: 0.25s;
        cursor: pointer;
        &:hover {
            text-shadow: 3px 3px white;
        }
    }
}